@media screen and (min-width: 200px) and (max-width: 480px) {
    #header_content {
        margin-buttom: 200vh;
    }
    
    #header_content .border-img {
        margin: auto;
        margin-button: 30px;
    }

    #header_content h1,
    #header_content .genres {
        text-align: center;
    }
}